<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
        <tr th:each="produto : ${produtos.content}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.quantidade}"></td>
            <td>
                <a th:href="@{/produtos/deletar/{id}(id=${produto.id})}">Deletar</a>
                <a th:href="@{/produtos/verificarEstoque/{id}(id=${produto.id})}">Verificar Estoque</a>
            </td>
        </tr>
    </table>

    <form action="/produtos/salvar" method="post">
        <input type="text" name="nome" placeholder="Nome do Produto" required>
        <input type="number" name="preco" placeholder="Preço" required>
        <input type="number" name="quantidade" placeholder="Quantidade" required>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
